CompileFlags:
  Add:
    - -std=c++20
    - -IC:/Users/weitingchen/work/99_Github/02_USI/digital_casting_app_dev/vcpkg_installed/x64-windows/include
    - -IC:/Users/weitingchen/work/99_Github/02_USI/digital_casting_app_dev/include

